<div class="card">

  <div class="card-header text-center">
    <h4>Vaccination Record</h4>
  </div>

  <div class="container-fluid">
    <div class="row">

      <div class="col-10 list-container mt-3">
        <div class="card" mt-4>

          <div class="flex-column justify-space-around">
            <div class="display-flex justify-space-between align-center p-2">
              <h3><a class="link" href="/api/vaccines/{{id}}">{{vaccine_name}}</a></h3>
            </div>
          </div>
          
          <ul class="list-group">
            <li>Date Administered: [{{format_date date_of_vaccine}}]</li>
            <li>Date Expires:      [{{format_date vaccine_exp_date}}]</li>
          </ul>
        </div>
      </div>

      <div class="col-2 mt-3">
        <nav class="navbar navbar-dark bg-dark">
          <div class="icons">
            <a class="link" href="/api/vaccines/{{id}}">Edit <i class="fas fa-user-edit text-light"></i></a>
          </div>
        </nav>
      </div>

    </div>
  </div>

</div>
